{%extends 'portals/profile_base.html'%}
{%load static%}
{%block headers%}
<link href="{%static 'css/customer/customer_profile.css'%}" rel="stylesheet" />
{%endblock%}
{%block title%}
{{request.user.first_name}} {{request.user.last_name}}
{%endblock%}
{%block content%}
<header id="navbar">
    <nav class="navbar-container container">
        <a href="/" class="home-link">
            <div class="navbar-logo"></div>
            Restaurant
        </a>
        <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu"
            aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar-menu" aria-labelledby="navbar-toggle">
            <ul class="navbar-links">
                <li class="navbar-item user"><a class="navbar-link username" id="username"
                        href="../">Home</a></li>
                <li class="navbar-item"><a class="navbar-link" href="../home/#menu">Menu</a></li>
                <li class="navbar-item"><a class="navbar-link" href="../home/#contact">Contact</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{%url 'logout'%}">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="user-wrapper">
    <div class="user-container container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{request.user.image.url}}" alt="Admin"
                                    class="rounded-circle p-1 rest-bg-color" width="170" height="170">
                                <div class="mt-3">
                                    <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
                                    {% comment %} <button type="submit" class="btn rest-btn-color px-4">Edit</button> {% endcomment %}
                                </div>
                            </div>
                            <hr class="my-4">
                            <ul class="list-group list-group-flush align-items-center">
                                <li class="d-flex justify-content-between list-group-item flex-wrap">
                                    <h6>Joined&nbsp</h6><h6 class="date-joined" id="date-joined"> </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class = "card-body card-title">
                            <h4>Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="first_name" id="email_address" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <!--THE FORM FOR THE USER'S DETAILS CHANGE-->
                        <form class="card-body" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% comment %} <input type="text" class="form-control" name="first_name" id="first_name" value=""> {% endcomment %}
                                    {{settings.first_name}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% comment %} <input type="text" class="form-control" name="last_name" id="last_name" value=""> {% endcomment %}
                                    {{settings.last_name}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% comment %} <input type="text" class="form-control" name="phone_number" id="phone_number" value=""> {% endcomment %}
                                    {{settings.phone_number}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profile Picture</h6>
                                </div>
                                <div class="col-sm-9 text-secondary image-selector">
                                    {% comment %} <input type="text" class="form-control" name="phone_number" id="phone_number" value=""> {% endcomment %}
                                    {{settings.image}}
                                    {% comment %} <input type="checkbox" name="image-clear" id="image-clear_id"> <!--Test if users can modify the html to delete the image-->{% endcomment %}
                                    <label for="id_image" id="file" class="file"><i class="bi bi-upload"></i> Choose a file</label>
                                    <p class="file-name"></p>
                                </div>
                            </div>
                            <div class="submit-button">
                                <div class="col-sm-9 text-secondary">
                                    <button type="submit" class="btn btn-primary rest-btn-color px-4">Save Changes</button>
                                </div>
                            </div>
                        </form>
                        {% if form.errors %}
                            {% for field,errors in form.errors.items %} <!--Errors are a dictionary so here its assigning names to those two colums (field,errors) in the form error as items -->
                                {% for error in errors %} <!--Here each error is printed as there can be multiple errors-->
                                    <div class="alert alert-danger col-12 alert-custom">
                                        {{error}}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!--Password Change-->
                    <div class="card" id="password-container">
                    <div class = "card-body card-title">
                            <h4>Change Password</h4>
                        </div>
                        <form class="card-body" method='post' action="{%url 'password-change'%}">
                            {%csrf_token%}
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Current Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-group">
                                        <i class="bi bi-unlock-fill input-group-text"></i>
                                        {{form.old_password}}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">New Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-group">
                                        <i class="bi bi-lock-fill input-group-text"></i>
                                        {{form.new_password1}}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Confirm Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-group">
                                        <i class="bi bi-lock-fill input-group-text"></i>
                                        {{form.new_password2}}
                                    </div>
                                </div>
                            </div>
                            <div class="submit-button">
                                <div class="col-sm-9 text-secondary ">
                                    <button type="submit" class="btn btn-primary rest-btn-color px-4">Submit</button>
                                </div>
                            </div>   
                        </form>
                        {%if messages%}
                            {%for message in messages%}
                                {%if message.tags|stringformat:'s' == "error"%}
                                    <div class="alert alert-danger col-12 alert-custom" role="alert">
                                        {{message}}
                                    </div>
                                {% else %}
                                    <div class="alert alert-success col-12 alert-custom" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                            {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{%static 'js/customer/profile.js'%}"></script>
{%endblock%}