.canvas-table-creation {

    height: 100%;
}

#canvas-wrapper {
    background-color: antiquewhite;
    width: 1000px;
}

#canvas-table-creation {
    background-color: brown;
}

#modal {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
}

#modal-cropper {
    width: 600px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 20%);
    border-radius: 8px;
    background-color: #4f4f56;
    padding: 10px;
}

@media(max-width:650px) {
    #modal-cropper {
        width: 400px;
    }
}

#bg-cropper {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    background: #6c757dc4;
}
#image-holder{
    width: 100%;
}