/*
THIS IS THE STYLES FOR THE CROPPER 
*/
#modal {
    position: absolute;
    z-index: -1;
    height: 100% !important;
    width: 100% !important;
}

#modal-cropper {
    width: 600px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 20%);
    border-radius: 8px;
    background-color: #4f4f56;
    padding: 10px;
}

@media(max-width:650px) {
    #modal-cropper {
        width: 400px;
    }
}

#bg-cropper {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    background: #6c757dc4;
}
#image-holder{
    width: 100%;
}
#create-dinning-card{
    overflow: hidden;
}
/*
THIS IS THE STYLES FOR THE TABLE EDIT AREA
*/

.canvas-table-creation {
    height: 100%;
}
.canvas-area{
    overflow: auto;
   
}

#canvas-wrapper {
    background-color: antiquewhite;
    width: 1300px;
    margin: auto;
}

#canvas-table-creation {
    background-color: brown;
}
#table-creation-form{
    border-radius: 8px;
    background: white;
    animation: backInDown;
    animation-duration: 0.5s;
}
#table-creation-form-wrapper{
    left: 50%;
    position: absolute;
    transform: translate(-50%,40%);
   z-index: 2;
}
#table-creation-form-bg{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #788189e8;
}

/* #confirm-table-creation, #cancel-table-creation{

} */

.button-group{
    display: flex;
    justify-content: space-between;
}

.btn-cofirm{
    color: white;
    background-color: #37A745;
    border-color: #37A745;
}
.btn-cofirm:hover{
    color: white;
    background-color: #287a33;
    border-color: #287a33;
}
#table-form-error{
    font-size: small;
    color: red;
}
#availability-checked, #rotation-checked{
    margin-left: -1.7rem !important;
}
.d-flex.edit-btns{
    justify-content: space-between;
}

.table-window-wrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
}
#tables-list{
    border-radius: 8px;
    background: #c0c0c069;
    box-shadow: rgb(50 50 50 / 50%) 0px 3px 6px 0px;
}
#tables-list > th,td{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tables-list>thead{
    background: #49a09d;
}
#tables-list>tbody>tr:hover{
    background-color: #d3d3d393;
}
#table-list-wrapper{
   overflow: auto;
}