<!--Here the message after the user inputs the email will be shown -->
{% extends 'base.html' %}
{%load static%}
{%block headers%}
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
        rel="stylesheet">
    <link href="{%static 'css/login.css'%}" rel="stylesheet" />
{%endblock%}
{%block title%}Reset Successful{%endblock%}
{%block content%}
<div class="login-container vertical-center ">
        <div class="container col-md-3 px-0">
            <div class="row no-gutters px-0">
                <div class="col-md">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <h1> Restaurant </h1>
                        </div>
                        <p class="login-card-description">Password Reset Successful</p>
                        <a  class="btn btn-secondary back-home mb-3" href= "{%url ''%}"><i class="bi bi-house-fill"></i></a>
                        <p>Your password has been successfully reset. You can click the log in button below to access your account.</p>
                        <a class="btn btn-primary col-12 mb-3" href="{%url 'login'%}">Log in</a>
                    </div>
                </div>
            </div>
<script src="{%static 'js/password_reset.js'%}"></script>
{%endblock%}