{% extends 'base.html' %}
{%load static%}
{% comment %} This is the file where to put all the fields for password reset so that means that a specific name is attached to a view but I need
to make it more specific {% endcomment %}

{% comment %} 
<input autocomplete="new-password" id="id_new_password1" name="new_password1" required="" type="password">
<input autocomplete="new-password" id="id_new_password2" name="new_password2" required="" type="password"> 
{% endcomment %}

{%block headers%}
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
        rel="stylesheet">
    <link href="{%static 'css/login.css'%}" rel="stylesheet" />
{%endblock%}
{%block title%}Reset Password{%endblock%}
{%block content%}
<div class="login-container vertical-center ">
        <div class="container col-md-3 px-0">
            <div class="row no-gutters px-0">
                <div class="col-md">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <h1> Restaurant </h1>
                        </div>
                        {% if validlink %} <!--Here if the link is valid the form is displayed-->
                            <p class="login-card-description">New Password</p>
                            <a  class="btn btn-secondary back-home mb-3" href= "{%url ''%}"><i class="bi bi-house-fill"></i></a>
                            <form class="mx-3" method="post">
                                {% csrf_token %}
                                <div class=" mb-4">
                                    <label data-error="wrong" data-success="right" for="modalLRInput11">Enter email address: </label>
                                    <div class="input-group">
                                        <i class="bi bi-lock-fill input-group-text"></i>
                                        {{form.new_password1}}
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label data-error="wrong" data-success="right" for="modalLRInput11">Enter email address: </label>
                                    <div class="input-group">
                                        <i class="bi bi-lock-fill input-group-text"></i>
                                        {{form.new_password2}}
                                    </div>
                                </div>
                                <div>
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-primary col-12 mb-3" value="login">Reset Password</button>
                                <input type="hidden" name="next" value="{{ next }}" />
                                <a class="btn btn-primary back-btn col-12" href="{%url 'login'%}"><i class="bi bi-arrow-left"></i>
                            </form>
                        {% else %}
                            <p class="login-card-description">Invalid link</p>
                            <a  class="btn btn-secondary back-home mb-3" href= "{%url ''%}"><i class="bi bi-house-fill"></i></a>
                            <p>This link is no longer valid. The link may have expired or may have been already used. </p>
                        {% endif %}
                    </div>
                </div>
            </div>
<script src="{%static 'js/password_reset_confirm.js'%}"></script>
{%endblock%}