{% extends 'base.html' %}
{%load static%}
{%block headers%}
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
        rel="stylesheet">
    <link href="{%static 'css/login.css'%}" rel="stylesheet" />
{%endblock%}
{%block title%}Reset Password{%endblock%}
{%block content%}
<div class="login-container vertical-center ">
        <div class="container col-md-3 px-0">
            <div class="row no-gutters px-0">
                <div class="col-md">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <h1> Restaurant </h1>
                        </div>
                        <p class="login-card-description">Reset password</p>
                        <a  class="btn btn-secondary back-home mb-3" href= "{%url ''%}"><i class="bi bi-house-fill"></i></a>
                        <form class="mx-3" method="post">
                            {% csrf_token %}
                            <div class="passwordLog mb-4">
                                <label data-error="wrong" data-success="right" for="modalLRInput11">Enter email address: </label>
                                <div class="input-group">
                                    <i class="bi bi-envelope-fill input-group-text"></i>
                                    {{form.email}}
                                    {% comment %} <input required type="password" id="id_password" class="form-control validate"  contenteditable="true" autocomplete="current-password" name="password"> {% endcomment %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary col-12 mb-3" value="login">Reset Password</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                            <a class="btn btn-primary back-btn col-12" href="{%url 'login'%}"><i class="bi bi-arrow-left"></i>
                        </form>
                    </div>
                </div>
            </div>
<script src="{%static 'js/password_reset.js'%}"></script>
{%endblock%}