:root{ /*Here I will define document global variables for easier code management*/
  --bronze-tone : #FF5733;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.responsive-calendar {
  font-size: 13px!important
}

@media (max-width:1500px) {
  .responsive-calendar {
      font-size: 12px!important
  }
}

@media (max-width:1200px) {
  .responsive-calendar {
      font-size: 10px!important
  }
}
@media (max-width:1000px) {
  .responsive-calendar {
      font-size: 10px!important
  }
}
@media (max-width:768px) {
  .responsive-calendar {
      font-size: 11px!important
  }
}
@media (max-width:593px) {
  .responsive-calendar {
      font-size: 13px!important
  }
}

@media (max-width:530px) {
  .responsive-calendar {
      font-size: 12px!important
  }
}
@media (max-width:390px) {
  .responsive-calendar {
      font-size: 9px!important
  }
}
@media (max-width:344px) {
  .responsive-calendar {
      font-size: 8px!important
  }
}
@media (min-width:2500px) {
  .responsive-calendar {
      font-size: 13px!important
  }
}

/*
CATEGORIES FORM STYLE
*/
.input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
MODAL CONFIRMATION BOX
*/
.confirm-bg {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0.55;
  overflow: hidden; /* disable scrolling*/
  z-index: 2; /* higher than all other items, but lower than 
    the confirm box*/
}
.container-popup {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: var(--bronze-tone);
  width: 270px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -75%);
  border-radius: 5px;
  padding: 1rem;
  z-index: 3; /* Higher than the z-index of the background */
}

.confirmation-text {
  display: flex;
  color: white;
  margin: 0.5rem 0 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  margin-top: auto;
  justify-content: space-evenly !important;
}

.confirmation-button, .delete-button {
  display: inline-flex;
  background-color: #cc0000;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  z-index: 4;
}

.cancel-button {
  background-color: #999999;
  border-radius: 0.3rem;
  padding: 0.7rem 1.4rem;
 
}

.confirmation-button:hover {
  background-color: red;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}
.options-buttons{
  display: inline-flex;
}
.add-category{
  white-space: nowrap;
  margin-left: .5em;
}
button.cancel-button{
  background-color: #e58975;
  border-radius: 5px;
  border: none;
}
.cancel-category{
  margin-right: .5em;
}

/*
DISHES STYLES
*/
.card-title{
  display: flex;
  justify-content: center;
}
.submit-dish{
  padding-top: 1em ;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:991px) {
  .dish-create-container {
      margin-top: 2em;
  }
}
#categories-list{
  background-color: #999999;
  padding-bottom: 3em;
}

/*DIsh list view*/
#dish-list-view-widget{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #FBD38B;
}
#menu-filters{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2em;
}

#menu-filters li{
  cursor: pointer;
  border: 3px var(--bronze-tone) solid;
  border-radius: 50px;
  padding: .3em .8em;
  margin-top: .4em;
  margin-inline: .2em;
  transition: all ease-in-out 0.3s;
}

#menu-filters li:hover, .filter-active{
  background-color: var(--bronze-tone);
  color: white;
}
.menu-item{
  text-align: center;
  margin-top: 2em;
}

.menu-title{
  font-weight: 800;
  color: #F89B0A;
  font-size: 18px;
}

.menu-description{
  color: #958D81;
  font-weight: 600;
  font-style: oblique;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.dish-form-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 25px;
  margin-top: 5px;
}
.dish-form-wrapper{
  margin-top: 15px;
}
.form-inputs{
  margin-inline: 5px;
  border: 1px solid #ced4da;
  border-radius: .25em;
  margin-top: 5px;
}

.confirm-bg-2 {
  position: fixed;
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0.55;
  overflow: hidden; /* disable scrolling*/
  z-index: 2; /* higher than all other items, but lower than 
    the confirm box*/
}
.container-popup-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: var(--bronze-tone);
  width: 270px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -75%);
  border-radius: 5px;
  padding: 1rem;
  z-index: 3; /* Higher than the z-index of the background */
}

.confirmation-text-2 {
  display: flex;
  color: white;
  margin: 0.5rem 0 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  margin-top: auto;
  justify-content: space-evenly !important;
}

.confirmation-button, .delete-button {
  display: inline-flex;
  background-color: #cc0000;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  z-index: 4;
}

.cancel-button {
  background-color: #999999;
  border-radius: 0.3rem;
  padding: 0.7rem 1.4rem;
 
}

.confirmation-button:hover {
  background-color: red;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}
.options-buttons{
  display: inline-flex;
}
.add-category{
  white-space: nowrap;
  margin-left: .5em;
}
button.cancel-button{
  background-color: #e58975;
  border-radius: 5px;
  border: none;
}
.cancel-category{
  margin-right: .5em;
}