body {
    margin: 0;
}
/*
/
/USER INFORMATION CARDS
/
*/

.card {
    padding:10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: rgb(50 50 50 / 50%) 0px 3px 6px 0px;
}
.me-2 {
    margin-right: .5rem!important;
}
.user-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 20px;
}
.submit-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-options{
    text-align: center;
}
button.btn.btn-primary.px-4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-title{
    display: flex;
    justify-content: center;
}
.rest-bg-color{
    background-color: #FF5733;
}
.rest-btn-color{
    color: white;
    border-width: 2px;
    background-color: #FF5733;
    border-color: #FF5733;
}
.rest-btn-color:hover{
    color: black;
    background-color: white;
    border-width: 2px;
    border-color: #FF5733;
}
/*
/
/UPLOAD IMAGE BUTTON
/
*/
.image-selector{
    display: flex;
    align-items: baseline;
}
.choose-image {
	display: none;
}
#file{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
}
#file:hover{
    background-color: #FF5733;
    color: white;
    border-color: #FF5733;
}
.file-name{
    margin-left: 5px;
    font-size: .9rem;
}
.psw-requirements-container{
    margin-top: 20px;
}