.responsive-calendar {
    font-size: 13px!important
}

@media (max-width:1500px) {
    .responsive-calendar {
        font-size: 12px!important
    }
}

@media (max-width:1200px) {
    .responsive-calendar {
        font-size: 10px!important
    }
}
@media (max-width:1000px) {
    .responsive-calendar {
        font-size: 10px!important
    }
}
@media (max-width:768px) {
    .responsive-calendar {
        font-size: 11px!important
    }
}
@media (max-width:593px) {
    .responsive-calendar {
        font-size: 13px!important
    }
}

@media (max-width:530px) {
    .responsive-calendar {
        font-size: 12px!important
    }
}
@media (max-width:390px) {
    .responsive-calendar {
        font-size: 9px!important
    }
}
@media (max-width:344px) {
    .responsive-calendar {
        font-size: 8px!important
    }
}
@media (min-width:2500px) {
    .responsive-calendar {
        font-size: 13px!important
    }
}

.calendar-wrapper,
.date-wrapper {
    display: table;
    margin: auto
}


